[push]
  default = simple
[alias]
  st = status
  ci = commit
  co = checkout
  br = branch
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  last = log -1 HEAD
  visual = !gitk
  pushup = "!git push --set-upstream origin $(git symbolic-ref --short HEAD)"
  unstage = reset HEAD --
[color]
  ui = true
[core]
  autocrlf = input
  safecrlf = true
	excludesfile = ~/.gitignore_global
[include]
  path = ~/.dotfiles/.gitconfig_local
